h1 {
  margin: 0;
  padding-top: 20px; }

button {
  border: none; }

#weather {
  height: 100vh;
  width: 100vw;
  text-align: center; }

.defaultColor {
  background-color: #f6958f;
  color: #ffedbc; }

.search-btn {
  background: transparent; }

.searchbar {
  display: flex;
  width: 70%;
  margin: 0 auto; }

#cloudy-input {
  background-color: #b2d8ff;
  color: #648fd1;
  border-color: #648fd1; }

#cloudy-input::placeholder {
  color: rgba(100, 143, 209, 0.5); }

#cloudy-input:focus {
  border-color: #648fd1;
  box-shadow: 0 0 10px #648fd1; }

#default-input {
  background-color: #f6958f;
  color: #ffedbc;
  border-color: #ffedbc; }

#default-input::placeholder {
  color: rgba(255, 237, 188, 0.5); }

#default-input:focus {
  border-color: #ffedbc;
  box-shadow: 0 0 10px #ffedbc; }

.main {
  display: flex;
  justify-content: space-around; }

.temperature {
  font-size: 10rem; }

.cloudy {
  background: linear-gradient(#b2d8ff, #ece9e6);
  color: #648fd1; }
