html, body {
  height: 100vh;
  width: 100vw; }

button {
  border: none; }

#weather {
  padding-top: 20px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: linear-gradient(#117a8e 70%, #999e9e);
  color: #f6ffff;
  overflow: scroll; }

.search-btn {
  background: transparent; }

.gif {
  margin-top: 10px;
  background: transparent;
  height: 350px;
  width: 350px; }

.degree {
  font-size: 20px;
  display: flex-inline; }

.display {
  margin-top: 50px; }

.temperature {
  font-size: 9rem;
  margin-right: 20px;
  margin: 0 auto; }

.temphead {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 40px; }

.sidepanel {
  width: 70%; }

.row {
  font-size: 25px;
  padding: 10px; }

.subname {
  text-align: left; }

.subpanel {
  margin-left: 70px; }

@media (max-width: 500px) {
  .sidepanel {
    width: 100%; }
  .row {
    font-size: 21px;
    padding: 10px; }
  .subpanel {
    margin-left: 0px; } }

.searchbar {
  display: flex;
  width: 70%;
  margin: 0 auto; }

input[type="text"] {
  background-color: transparent;
  color: #f6ffff;
  border-color: #f6ffff; }

input[type="text"]::placeholder {
  color: rgba(246, 255, 255, 0.5); }

input[type="text"]:focus {
  border-color: #f6ffff;
  box-shadow: 0 0 10px #f6ffff; }

.switch {
  top: 12px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #FFB221; }

input:focus + .slider {
  box-shadow: 0 0 1px #FFB221; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
