.searchbar{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

input[type="text"]{
    background-color:transparent;
    color: $text-default;
    border-color: $text-default;
}
input[type="text"]::placeholder{
    color: rgba($text-default,0.5);
}
input[type="text"]:focus{
    border-color: $text-default;
    box-shadow: 0 0 10px $text-default;
}

