
$text-default:rgb(246, 255, 255);

$day-low:#A7cbfd;
$day-high:rgb(153, 158, 158);
$day-default:rgb(242, 247, 247);



$night-low:#117a8e;
$night-high:rgb(153, 158, 158);
$night-default:rgb(246, 255, 255);