$background-cloudy:#b2d8ff;
$text-cloudy:rgb(100, 143, 209);

$background-default:#f6958f;
$text-default:#ffedbc;

$background-clear-day:#f6958f;
$text-clear-day:#ffedbc;

$background-clear-night:#f6958f;
$text-clear-night:#ffedbc;

$background-rain:#f6958f;
$text-rain:#ffedbc;


$background-snow:#f6958f;
$text-snow:#ffedbc;



$background-sleet:#f6958f;
$text-sleet:#ffedbc;



$background-wind:#f6958f;
$text-wind:#ffedbc;

$background-fog:#f6958f;
$text-fog:#ffedbc;

$background-partly-cloudy-day:#f6958f;
$text-partly-cloudy-day:#ffedbc;

$background-partly-cloudy-night:#f6958f;
$text-partly-cloudy-night:#ffedbc;
